body {
    height: 100bh;
margin: 0;
padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
background-color: RGB(29	40	56	);
color: #eee;
padding: 0 100px;
}

ul,
 a {
list-style-type: none;
text-decoration: none;
color: #eee;
}

.header-links ul {
    display: flex;
gap: 32px;
}

.main-1-container {
    background-color: RGB(29	40	56	);
    color: #eee;
height: 400px;
    display: flex;
    flex-direction: row;
justify-content: center;
align-items: center;
gap: 100px;
}

.main-1-left {
display: flex;
flex-direction: column;
justify-content: center;

padding: 0;
/* border: 2px solid hotpink; */
}

.main-1-left h1 {
    font-size: 45px;
    font-weight: 900;
margin-bottom: -10px;

}

.main-1-left p {
    font-size: 20px;
opacity: 0.8;
}

.main-1-left button {
background-color: RGB(53	118	254	);
border: solid RGB(53	118	254	);
color: #eee;
width: 130px;
height: 40px;
border-radius: 10px;
font-size: 24px;
font-weight: 500;
text-align: center;
margin-bottom: 30px;
}

.main-2-container {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
flex-direction: column;
gap: 50px;
}

.main-2-container h2 {
    font-size: 34px;
    font-weight: 900;

}

.main-2-cards {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 25px;
flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}
.card img {
    height: 100px;
    width: 100px;
    border: 1px solid hotpink
    ;background-color: black;
    border-radius: 8px;

}

.main-3-container {
    display: flex;
    height: 400px;
    flex-direction: column;
    background-color: RGB(229	231	235	);
justify-content: center;
align-items: center;
}

.main-3-card {
display: flex;
    flex: 1;
justify-content: center;
align-items: center;
flex-direction: column;
}
.main-3-card p {
 font-size: 32px;
 /* font-style: italic; */
 }

.main-3-card .text {
    display: flex;
    align-self: flex-end;
    
    color: hotpink;
font-size: 24px;
margin-top: -40px;
}

.main-4-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
height: 300px;

}

.main-4-item-container {
    background-color: RGB(53	118	254	);
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
padding: 30px 50px;
border-radius: 5px;
}

.main-4-item-left {
    display: flex;
    flex-direction: column;
    color: #eee;
    padding: 20px 50px;
    font-size: 22px;
}

.main-4-item-right {
    display: flex;
    
}

.main-4-item-right button {
    background-color: RGB(53	118	254	);
color: #eee;
border: 2px solid #eee;
border-radius: 6px;
padding: 8px 22px;
font-size: 18px;
}

.main-4-item-left .text-1 {
    font-weight: 900;

}

.main-4-item-left .text-2 {
    opacity: 0.8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
background-color: RGB(29	40	56	);
color: #eee;
padding: 60px;
}
