body {
    height: 100bh;
margin: 0;
padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
background-color: RGB(29	40	56	);
color: #eee;
padding: 0 100px;
}

ul,
 a {
list-style-type: none;
text-decoration: none;
color: #eee;
}

.header-links ul {
    display: flex;
gap: 32px;
}

.main-1-container {
    background-color: RGB(29	40	56	);
    color: #eee;
height: 400px;
    display: flex;
    flex-direction: row;
justify-content: center;
align-items: center;
       
}

.main-1-left {
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
width: 50px;
}

/* .main-1-left.main-1-right {
    width: 100px;
height: 100px;
} */